.stork-wrapper {
  position: relative;
  font-family: sans-serif;
  box-sizing: border-box;
}

.stork-wrapper *,
.stork-wrapper *:before,
.stork-wrapper *:after {
  box-sizing: border-box;
}

.stork-input {
  width: 100%;
  font-size: 1em;
  padding: 0.4em 0.8em;
  border: 1px solid hsla(0, 0%, 0%, 0.2);
  border-radius: 4px;
  /* margin-bottom: 0.5em; */
  position: relative;
}

/*
.stork-loader {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  background-color: hsla(210, 67%, 58%, 1);
  box-shadow: 0 0 8px hsla(210, 67%, 78%, 0.8);
  height: 2px;
  transition: width 0.2s ease, opacity 0.2s ease 0.1s;
}
*/

.stork-output {
  position: absolute;
  width: 100%;
  margin-top: 0.5em;
  border-radius: 4px;
  box-shadow: 0 0.9px 2.2px rgba(0, 0, 0, 0.02),
    0 2.1px 5.3px rgba(0, 0, 0, 0.028), 0 3.9px 10px rgba(0, 0, 0, 0.035),
    0 6.9px 17.9px rgba(0, 0, 0, 0.042), 0 13px 33.4px rgba(0, 0, 0, 0.05),
    0 31px 80px rgba(0, 0, 0, 0.07);
  display: flex;
  flex-direction: column;
}

.stork-output-visible {
  background: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.stork-message {
  width: 100%;
  padding: 0.5rem 1rem;
    color: red;
}

.stork-results {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
  max-height: 25rem;
  overflow-y: scroll;
  border-top: 1px solid hsla(0, 0%, 80%, 1);
}

.stork-result {
  font-size: 0.8em;
  border-bottom: 1px solid hsla(0, 0%, 90%, 1);
}

.stork-result.selected {
  background: #4c4b4b;
}

.stork-result a:link,
.stork-result a:visited {
  padding: 1rem;
  display: block;
  color: currentcolor;
  text-decoration: none;
}

.stork-result p {
  margin: 0;
}

.stork-result .stork-title {
  color: #d65906;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 0.8em;
}

.stork-result .stork-excerpt {
  margin-bottom: 0.8em;
  color: white;
  line-height: 1;
}

.stork-highlight {
  background-color: green;
}
