<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


</style>
<body>

<!-- Header -->
<div class="header">
  <h1>Silex</h1>
  <p>A first draft</p>
</div>

<!-- Photo Grid
<img src="/images/gallery/silex/20200412_123003.webp" stype="width:100%">
-->
<div class="row">
  <div class="column">
<a href="/images/gallery/silex/20200412_115346.webp">
<img  src="/images/gallery/silex/20200412_115346.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_115525.webp">
<img  src="/images/gallery/silex/20200412_115525.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_115750.webp">
<img  src="/images/gallery/silex/20200412_115750.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_115915.webp">
<img  src="/images/gallery/silex/20200412_115915.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_115942.webp">
<img  src="/images/gallery/silex/20200412_115942.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_120019.webp">
<img  src="/images/gallery/silex/20200412_120019.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_120406.webp">
<img  src="/images/gallery/silex/20200412_120406.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_120524.webp">
<img  src="/images/gallery/silex/20200412_120524.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_120538.webp">
<img  src="/images/gallery/silex/20200412_120538.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_120633.webp">
<img  src="/images/gallery/silex/20200412_120633.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_121057.webp">
<img  src="/images/gallery/silex/20200412_121057.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_121602.webp">
<img  src="/images/gallery/silex/20200412_121602.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_121716.webp">
<img  src="/images/gallery/silex/20200412_121716.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_121935.webp">
<img  src="/images/gallery/silex/20200412_121935.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_122423.webp">
<img  src="/images/gallery/silex/20200412_122423.webp">
</a>
  </div>


  <div class="column">
<a href="/images/gallery/silex/20200412_122658.webp">
<img  src="/images/gallery/silex/20200412_122658.webp">
</a>
  </div>


</div>

</body>
